%section.title
  - if @gifter.image
    .profilepic{:style => "background-image: url(#{@gifter.image})"}
  - else
    .profilepic{:style => "background-image: url('not-available.jpg')"}

%section.detail
  .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .row
        = devise_error_messages!
      .row
        .form-group
          = f.label :name, 'Nombre', class: 'control-label'
          = f.text_field :name, autofocus: true, class: 'form-control'
          %p Usa tu nombre real, asi tus amigps pueden encontrarte facilmente.
      .row
        .form-group
          = f.label :email, class: 'control-label'
          = f.email_field :email, class: 'form-control'
      .row
        .form-group
          = f.label :current_password, 'Contrase単a Actual', class: 'control-label'
          = f.password_field :current_password, autocomplete: "off", class: 'form-control'
      .row
        .form-group
          = f.label :password, 'Nueva Contrase単a', class: 'control-label'
          = f.password_field :password, autocomplete: "off", class: 'form-control'
          %p Si no queres cambiar tu contrase単a, deja este campo en blanco.
      .row
        .form-group
          = f.label :password_confirmation, 'Confirmar Nueva Contrase単a', class: 'control-label'
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .row
        .col-md-6
          .row
            .form-group
              = f.label :genre, 'Genero', class: 'control-label'
              = f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: false}
        .col-md-6
          .row
            .form-group
              = f.label :target, 'Edad', class: 'control-label'
              = f.collection_select :target_id, Target.all, :id, :name, {include_blank: false}
      .row
        .form-group
          = f.label :interest_ids, 'Elegi tus gustos e intereses', class: 'control-label'
          = f.collection_select :interest_ids, Interest.all, :id, :name, {include_blank: false}, {:multiple => true}
      .row
        .form-group
          = f.submit "GUARDAR PERFIL", class: 'btn btn-success'


/javascript functions

:javascript
  $(function() {
    $('#gifter_genre_id, #gifter_target_id').select2({
      theme: "bootstrap"
    });
    $('#gifter_interest_ids').multipleSelect();
  });
