.splash
	.center
		.row
			%h1 El regalo perfecto para cada ocasión
		.row
			%button.btn.btn-default.btn-lg.toggle-gifter
				REGALAR
%section.title
	%h1
		Los Elegidos
	%p
		de los usuarios
%section
	.container
		.col-
		%ul.slider
			%li.slide
				.col-sm-4.col-md-4
					.group{:style => "border-color: #ccc"}
						.row
							.col-md-4.col-md-12
								.ph{:style => "background-image: url(#{image_path "romantic.jpg"})"}
									.center
										%h3 ideales para
										%h2 Romanticos
						.row
							.col-md-12
								- @romantic.each do |item|
									= link_to(product_path(item), class: 'item') do
										- if item.images.empty?
											.square{:style => "background-image: url(image-not-available.jpg)"}
												.over
										- else
											- item.images.each do |image|
												- if image.cover == true
													.square{:style => "background-image: url(#{image.file.url(:large)})"}
														.over
								.item.hidden-sm
									.square
										%h1
											42
										%p
											articulos
						.row	
							.col-md-12
								%a.discover descubrir mas
				.col-sm-4.col-md-4
					.group{:style => "border-color: #ccc"}
						.row
							.col-md-12
								.ph{:style => "background-image: url(#{image_path "athletic.jpg"})"}
									.center
										%h3 ideales para
										%h2 vida saludable y aire libre
						.row
							.col-md-12
								- @athletic.each do |item|
									= link_to(product_path(item), class: 'item') do
										- if item.images.empty?
											.square{:style => "background-image: url(image-not-available.jpg)"}
												.over
										- else
											- item.images.each do |image|
												- if image.cover == true
													.square{:style => "background-image: url(#{image.file.url(:large)})"}
														.over
								.item.hidden-sm
									.square
										%h1
											36
										%p
											articulos
						.row	
							.col-md-12
								%a.discover descubrir mas
				.col-sm-4.col-md-4
					.group{:style => "border-color: #ccc"}
						.row
							.col-md-12
								.ph{:style => "background-image: url(#{image_path "elegant.jpg"})"}
									.center
										%h3 ideales para
										%h2 elegantes y refinados
						.row
							.col-md-12
								- @elegant.each do |item|
									= link_to(product_path(item), class: 'item') do
										- if item.images.empty?
											.square{:style => "background-image: url(image-not-available.jpg)"}
												.over
										- else
											- item.images.each do |image|
												- if image.cover == true
													.square{:style => "background-image: url(#{image.file.url(:large)})"}
														.over
								.item.hidden-sm
									.square
										%h1
											54
										%p
											articulos
						.row	
							.col-md-12

								%a.discover descubrir mas
%section.recomendations
	.col-md-12
		.row.title
			%h1
				Recomendaciones
			%p
				de los usuarios
		.row
			.container
				%ul.slider
					%li.slide
						.col-md-4
							.group{:style => "border-color: #ccc"}
								.row
									.col-md-12
										- @recomendations.each do |recomendation|
											= link_to(product_path(recomendation)) do
												- if recomendation.images.empty?
													.photo{:style => "background-image: url(image-not-available.jpg)"}
														.over
												- else
													- recomendation.images.each do |image|
														- if image.cover == true
															.photo{:style => "background-image: url(#{image.file.url(:large)})"}
																.over
						.col-md-4
							.group{:style => "border-color: #ccc"}
								.row
									.col-md-12
										- @recomendations.each do |recomendation|
											= link_to(product_path(recomendation)) do
												- if recomendation.images.empty?
													.photo{:style => "background-image: url(image-not-available.jpg)"}
														.over
												- else
													- recomendation.images.each do |image|
														- if image.cover == true
															.photo{:style => "background-image: url(#{image.file.url(:large)})"}
																.over
						.col-md-4
							.group{:style => "border-color: #ccc"}
								.row
									.col-md-12
										- @recomendations.each do |recomendation|
											= link_to(product_path(recomendation)) do
												- if recomendation.images.empty?
													.photo{:style => "background-image: url(image-not-available.jpg)"}
														.over
												- else
													- recomendation.images.each do |image|
														- if image.cover == true
															.photo{:style => "background-image: url(#{image.file.url(:large)})"}
																.over