%header
	%ul.slider
		- @splashes.each do |splash|
			%li
				- splash.images.each do |image|
					.splash{:style => "background-image: url(#{image.file.url(:high)})"}
						.center.splash-text
							.col-md-12
								.row
									%h1
										#{splash.title}
									%p.visible-lg
										Completa las siguientes opciones para que Personal Gifter pueda sugerirte un regalo adecuado.
									= link_to('REGALAR', new_search_path, class: 'btn btn-white btn-lg hidden-lg')
	.center
		.row.home-gifter.visible-lg
			= form_for search do |f|
				.col-md-12
					.row.box
						.col-md-3.simple-select.occasion-select
							.row
								= f.collection_select :occasion_id, Occasion.where(available: 'Yes'), :id, :name, {include_blank: true}
						.col-md-4.simple-select.relationship-select
							.row
								= f.collection_select :relationship_id, Relationship.where(available: 'Yes'), :id, :name, {include_blank: true}
						.col-md-3.simple-select.target-select
							.row
								= f.collection_select :target_id, Target.where(available: 'Yes'), :id, :name, {include_blank: true}
						.col-md-2.genre-select
							.row
								= f.collection_select :genre_ids, Genre.all, :id, :name, {include_blank: false}, {:multiple => true}
					.row.box
					
						.col-md-10.interests-select
							.row	
								= f.collection_select :interest_ids, Interest.where(available: 'Yes'), :id, :name, {include_blank: false}, {:multiple => true}
						.col-md-2
							.row
								.search-gift-box
									%button.btn.btn-white.btn-lg.action
										REGALAR
%section.title
	%h1
		Recomendados
	%p
		de Personal Gifter
%section
	.container
		.col-
		%ul.slider
			%li.slide
				- @groups.each do |group|
					.col-sm-4.col-md-4
						.group{:style => "border-color: #ccc"}
							.row
								.col-md-4.col-md-12
									- group.images.each do |image|
										- if image.cover == true
											.ph{:style => "background-image: url(#{image.file.url(:large)})"}
												.center
													%h3 ideales para
													%h2 #{group.name}
							.row
								.col-md-12
									- group.products.take(2).each do |product|
										= link_to(product_path(product), class: 'col-xs-4 col-sm-6 col-md-4 item') do
											- if product.images.empty?
												.square{:style => "background-image: url(image-not-available.jpg)"}
													.over
											- else
												- product.images.each do |image|
													- if image.cover == true
														.square{:style => "background-image: url(#{image.file.url(:large)})"}
															.over
									.item.col-xs-4.col-md-4.hidden-sm
										.square
											%h1
												#{group.products.count}
											%p
												artículos
							.row	
								.col-md-12
									= link_to('Descubrir Más', group_path(group) , class: 'discover')
%section.recomendations
	.col-md-12
		.row.title
			%h1
				Los elegidos
			%p
				de los usuarios
		.row
			.container
				%ul.slider
					%li.slide
						- @recomendations.in_groups_of(4, false).each do |slide|
							.col-sm-4.col-md-4
								.group{:style => "border-color: #ccc"}
									- slide.each do |recomendation|
										.col-xs-6.col-sm-6.col-md-6
											.row
												= link_to(product_path(recomendation)) do
													- if recomendation.images.empty?
														.photo{:style => "background-image: url(image-not-available.jpg)"}
															.over
													- else
														- recomendation.images.each do |image|
															- if image.cover == true
																.photo{:style => "background-image: url(#{image.file.url(:large)})"}
																	.over
:javascript
	$(function() {
		$('header .slider').bxSlider({
			auto: true,
			pause: 5000,
			useCSS:true,
			easing: 'cubic-bezier(.74,.14,.44,.71)',
				nextText: '→',
				prevText: '←'
		});
	});