.splash
	.center
		.col-md-12
			.row
				%h1 El regalo perfecto para cada ocasión
				%p.visible-lg
					Completa las siguientes opciones para que Personal Gifter pueda sugerirte un regalo adecuado.
				%button.btn.btn-white.btn-lg.toggle-gifter.hidden-lg
					REGALAR
			.row.home-gifter.visible-lg
				= form_for search do |f|
					.col-md-12
						.row.box
							.col-md-3.simple-select.occasion-select
								.row
									= f.collection_select :occasion_id, Occasion.all, :id, :name, {include_blank: true}
							.col-md-4.simple-select.relationship-select
								.row
									= f.collection_select :relationship_id, Relationship.all, :id, :name, {include_blank: true}
							.col-md-3.simple-select.target-select
								.row
									= f.collection_select :target_id, Target.all, :id, :name, {include_blank: true}
							.col-md-2.simple-select.genre-select
								.row
									= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: true}
						.row.box
						
							.col-md-10.interests-select
								.row	
									= f.collection_select :interest_ids, Interest.all, :id, :name, {include_blank: false}, {:multiple => true}
							.col-md-2
								.row
									.search-gift-box
										= f.submit "BUSCAR", :class => 'btn-white btn btn-lg search-gift'
%section.title
	%h1
		Los Elegidos
	%p
		de los usuarios
%section
	.container
		.col-
		%ul.slider
			%li.slide
				.col-sm-4.col-md-4
					.group{:style => "border-color: #ccc"}
						.row
							.col-md-4.col-md-12
								.ph{:style => "background-image: url(#{image_path "romantic.jpg"})"}
									.center
										%h3 ideales para
										%h2 Romanticos
						.row
							.col-md-12
								- @romantic.each do |item|
									= link_to(product_path(item), class: 'col-xs-4 col-sm-6 col-md-4 item') do
										- if item.images.empty?
											.square{:style => "background-image: url(image-not-available.jpg)"}
												.over
										- else
											- item.images.each do |image|
												- if image.cover == true
													.square{:style => "background-image: url(#{image.file.url(:large)})"}
														.over
								.item.col-xs-4.col-md-4.hidden-sm
									.square
										%h1
											42
										%p
											articulos
						.row	
							.col-md-12
								%a.discover descubrir mas
				.col-sm-4.col-md-4
					.group{:style => "border-color: #ccc"}
						.row
							.col-md-12
								.ph{:style => "background-image: url(#{image_path "athletic.jpg"})"}
									.center
										%h3 ideales para
										%h2 vida saludable y aire libre
						.row
							.col-md-12
								- @athletic.each do |item|
									= link_to(product_path(item), class: 'col-xs-4 col-sm-6 col-md-4 item') do
										- if item.images.empty?
											.square{:style => "background-image: url(image-not-available.jpg)"}
												.over
										- else
											- item.images.each do |image|
												- if image.cover == true
													.square{:style => "background-image: url(#{image.file.url(:large)})"}
														.over
								.item.col-xs-4.col-md-4.hidden-sm
									.square
										%h1
											36
										%p
											articulos
						.row	
							.col-md-12
								%a.discover descubrir mas
				.col-sm-4.col-md-4
					.group{:style => "border-color: #ccc"}
						.row
							.col-md-12
								.ph{:style => "background-image: url(#{image_path "elegant.jpg"})"}
									.center
										%h3 ideales para
										%h2 elegantes y refinados
						.row
							.col-md-12
								- @elegant.each do |item|
									= link_to(product_path(item), class: 'col-xs-4 col-sm-6 col-md-4 item') do
										- if item.images.empty?
											.square{:style => "background-image: url(image-not-available.jpg)"}
												.over
										- else
											- item.images.each do |image|
												- if image.cover == true
													.square{:style => "background-image: url(#{image.file.url(:large)})"}
														.over
								.item.col-xs-4.col-md-4.hidden-sm
									.square
										%h1
											54
										%p
											articulos
						.row	
							.col-md-12

								%a.discover descubrir mas
%section.recomendations
	.col-md-12
		.row.title
			%h1
				Recomendaciones
			%p
				de los usuarios
		.row
			.container
				%ul.slider
					%li.slide
						.col-sm-4.col-md-4
							.group{:style => "border-color: #ccc"}
								- @recomendations.each do |recomendation|
									.col-xs-6.col-sm-6.col-md-6
										.row
											= link_to(product_path(recomendation)) do
												- if recomendation.images.empty?
													.photo{:style => "background-image: url(image-not-available.jpg)"}
														.over
												- else
													- recomendation.images.each do |image|
														- if image.cover == true
															.photo{:style => "background-image: url(#{image.file.url(:large)})"}
																.over
						.col-sm-4.col-md-4
							.group{:style => "border-color: #ccc"}
								- @recomendations.each do |recomendation|
									.col-xs-6.col-sm-6.col-md-6
										.row
											= link_to(product_path(recomendation)) do
												- if recomendation.images.empty?
													.photo{:style => "background-image: url(image-not-available.jpg)"}
														.over
												- else
													- recomendation.images.each do |image|
														- if image.cover == true
															.photo{:style => "background-image: url(#{image.file.url(:large)})"}
																.over
						.col-sm-4.col-md-4
							.group{:style => "border-color: #ccc"}
								- @recomendations.each do |recomendation|
									.col-xs-6.col-sm-6.col-md-6
										.row
											= link_to(product_path(recomendation)) do
												- if recomendation.images.empty?
													.photo{:style => "background-image: url(image-not-available.jpg)"}
														.over
												- else
													- recomendation.images.each do |image|
														- if image.cover == true
															.photo{:style => "background-image: url(#{image.file.url(:large)})"}
																.over