- if @search.search_products.empty?		
	%section.title.search-error.col-md-6.col-md-offset-3
		%h1
			No hay opciones de regalos que coincidan con tu búsqueda
		%p
			— Revisa o complementa los criterios de gustos e intereses de la persona a regalar.
		%p
			— Utiliza una búsqueda más genérica.
		%p
			— Navega por la sección de recomendaciones de los usuarios para encontrar ideas de productos que puedan inspirarte.


- else
	%section.title
		%h1
			Resultado de la busqueda
		%p
			Las recomendaciones de PG
	%section
		= form_for(@search, :url => {:action => 'update', :id => @search.id}) do |f|
			.container
				.col-md-12
					.row.box
						.col-md-1
							%p Filtrar por
						.col-md-2.store-select
							.row
								= f.collection_select :store_id, Store.all, :id, :name, {include_blank: true}
						.col-md-2.category-select
							.row
								= f.collection_select :category_id, Category.all, :id, :name, {include_blank: true}
						.col-md-2.genre-select
							.row
								.search-gift-box
									= f.submit "Filtrar", :class => 'btn'
	%section
		.container
			.row
				- if @search.search_products.empty?
					%h3.redefine
						%a.toggle-gifter(href='#') Redefiní tu busqueda
						para encontar el regalo perfecto.
				- else
					- @search.search_products.each do |c|
						.col-xs-6.col-sm-4.col-md-3
							= link_to(product_path(c.id)) do
								- if c.images.empty?
									.square{:style => "background-image: url(image-not-available.jpg)"}
										.over
									%p.prodname #{c.name}
								- else
									- c.images.each do |image|
										- if image.cover == true
											.square{:style => "background-image: url(#{image.file.url(:large)})"}
												.over
											%p.prodname #{c.name}
:javascript
	$('.store-select select').select2({
		theme: "bootstrap",
		allowClear: true,
		placeholder: 'Tienda'
	});
	$('.category-select select').select2({
		theme: "bootstrap",
		allowClear: true,
		placeholder: 'Tipo de Producto'
	});
	$('.order-select select').select2({
		theme: "bootstrap",
		allowClear: true,
		placeholder: 'Ordenar por'
	});


