!!!
%html
	%head
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
			%title
				Personal Gifter
			= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
			= javascript_include_tag 'application', 'data-turbolinks-track' => true
			= csrf_meta_tags
			= yield(:head)

	%body{:class => "#{controller_name} #{action_name}"}
		= render 'shared/sign_up_modal'
		= render 'shared/login_modal'
		.about
			.center
				.row.steps
					.col-md-4
						%h1 1 . BUSCA
						= icon('search')
						%p Indicanos ocasión, relación con la persona a regalar y sus gustos e intereses
					.col-md-4
						%h1 2 . ENCUENTRA
						= icon('tags')
						%p Te ofrecemos diversas opciones para regalar

					.col-md-4
						%h1 3 . REGALA
						= icon('gift')
						%p Realiza la compra en la tienda y sorprende!
			%a.toggle-about
				= icon('times')
		
			%a.toggle-gifter
				= icon('times')
		%nav.navbar.navbar-fixed-top
			.container
				.navbar-header
					%button.navbar-toggle{"data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
						%span.sr-only
							Toogle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					= link_to(root_path, :class => 'navbar-brand') do
						= image_tag('logo.png')
				#navbar.collapse.navbar-collapse
					%ul.nav.navbar-nav
						%li.active
							= link_to('Home', root_path)
						%li
							%a.toggle-about(href='#') ¿Cómo Funciona?
						%li
							= link_to('Contacto', new_contact_path)
						%li
							- if gifter_signed_in?
								.dropdown
									%button.dropdown-toggle.btn.btn-default{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
										#{current_gifter.name}
										%span.caret
									%ul.dropdown-menu
										%li
											= link_to('Editar Perfil', edit_gifter_registration_path)
										%li
											= link_to('Cerrar Sesion', destroy_gifter_session_path, method: :delete)
							- else
								= link_to "Iniciar Sesión", "#login", "data-toggle" => "modal", :class => 'btn btn-default'
						%li
							= link_to('Regalar', new_search_path, class: 'btn btn-white')
		- flash.each do |name, msg|
			= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
		= yield
		%section.footer
			.container
				.col-sm-6.col-md-6
					= link_to('Home', root_path)
					%a.toggle-about(href='#') ¿Cómo Funciona?
					= link_to('Contacto', new_contact_path)
				.col-sm-6.col-md-6
					= link_to('https://www.facebook.com/personalgifter', class: 'pull-right', target: '_blank') do
						= icon('facebook-square')
						Seguinos en Facebook 
		:javascript
			$('.occasion-select select').select2({
				theme: "bootstrap",
				allowClear: true,
				placeholder: '¿Cuál es la ocasión?'
			});
			$('.relationship-select select').select2({
				theme: "bootstrap",
				allowClear: true,
				placeholder: '¿Quién es la persona a regalar?'
			});
			$('.target-select select').select2({
				theme: "bootstrap",
				allowClear: true,
				placeholder: 'Edad'
			});

			$('.interests-select select').multipleSelect({
				placeholder: '¿Qué gustos e intereses tiene?'
			});
			$('.genre-select select').multipleSelect({
				placeholder: 'Género'
			});
			$('.dropdown-toggle').dropdown();

			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-70398947-1', 'auto');
			ga('send', 'pageview');