!!!
%html
	%head
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
			%title
				Personal Gifter
			= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
			= javascript_include_tag 'application', 'data-turbolinks-track' => true
			= csrf_meta_tags
			= yield(:head)

	%body{:class => "#{controller_name} #{action_name}"}
		= render 'shared/sign_up_modal'
		= render 'shared/login_modal'
		.gifter
			.center
				.col-md-12
					.row
						%p
							Completa las siguientes opciones para que Personal Gifter pueda sugerirte un regalo adecuado.
					.row
						= form_for search do |f|
							.col-md-12
								.row.box
									.col-md-3.simple-select.occasion-select
										.row
											= f.collection_select :occasion_id, Occasion.all, :id, :name, {include_blank: true}
									.col-md-4.simple-select.relationship-select
										.row
											= f.collection_select :relationship_id, Relationship.all, :id, :name, {include_blank: true}
									.col-md-3.simple-select.target-select
										.row
											= f.collection_select :target_id, Target.all, :id, :name, {include_blank: true}
									.col-md-2.simple-select.genre-select
										.row
											= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: true}
								.row.box
								
									.col-md-10.interests-select
										.row	
											= f.collection_select :interest_ids, Interest.all, :id, :name, {include_blank: false}, {:multiple => true}
									.col-md-2
										.row
											.search-gift-box
												= f.submit "BUSCAR", :class => 'btn-white btn btn-lg search-gift'
			%a.toggle-gifter
				= icon('times')
		.about
			.center
				.row.steps
					.col-md-4
						%h1 1 . BUSCA
						= icon('search')
						%p Indicanos ocasión, relación con la persona a regalar y sus gustos e intereses
					.col-md-4
						%h1 2 . ENCUENTRA
						= icon('tags')
						%p Te ofrecemos diversas opciones para regalar

					.col-md-4
						%h1 3 . REGALA
						= icon('gift')
						%p Realiza la compra en la tienda y sorprende!
			%a.toggle-about
				= icon('times')
		
			%a.toggle-gifter
				= icon('times')
		%nav.navbar.navbar-fixed-top
			.container
				.navbar-header
					%button.navbar-toggle.collapsed
						%span.sr-only
							Toogle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					= link_to(root_path, :class => 'navbar-brand') do
						= image_tag('logo.png')
				#navbar.collapse.navbar-collapse.pull-right
					%ul.nav.navbar-nav
						%li.active
							= link_to('Home', root_path)
						%li
							%a.toggle-about(href='#') ¿Cómo Funciona?
						%li
							%a Contacto
						%li
							- if gifter_signed_in?
								.dropdown
									%button.dropdown-toggle.btn.btn-default{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
										#{current_gifter.name}
										%span.caret
									%ul.dropdown-menu
										%li
											= link_to('Editar Perfil', edit_gifter_registration_path)
										%li
											= link_to('Cerrar Sesion', destroy_gifter_session_path, method: :delete)
							- else
								= link_to "Iniciar Sesión", "#login", "data-toggle" => "modal", :class => 'btn btn-default'
						%li
							%button.btn.btn-white.toggle-gifter
								REGALAR
		= yield
		%section.footer
			.container
				.col-md-6
					%a Home
					%a.toggle-about About
					%a Como funciona
					%a Contacto
				.col-md-6
					%button.btn.btn-default.btn-lg.toggle-gifter.pull-right
						REGALAR
		:javascript
			$('.occasion-select select').select2({
				theme: "bootstrap",
				allowClear: true,
				placeholder: '¿Cuál es la ocasión?'
			});
			$('.relationship-select select').select2({
				theme: "bootstrap",
				allowClear: true,
				placeholder: '¿Quién es la persona a regalar?'
			});
			$('.target-select select').select2({
				theme: "bootstrap",
				allowClear: true,
				placeholder: 'Edad'
			});
			$('.genre-select select').select2({
				theme: "bootstrap",
				allowClear: true,
				placeholder: 'Género'
			});
			$('.interests-select select').multipleSelect();
			$('.dropdown-toggle').dropdown();