!!!
%html
	%head
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
			%title
				Personal Gifter
			= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
			= javascript_include_tag 'application', 'data-turbolinks-track' => true
			= csrf_meta_tags
			= yield(:head)

	%body{:class => "#{controller_name} #{action_name}"}
		.about
			.center
				.row.steps
					.col-md-4
						%h1 1 . BUSCA
						= icon('search')
						%p INDÍCANOS PARA QUE OCASIÓN BUSCAS EL REGALO, QUE RELACIÓN TIENES CON LA PERSONA Y SUS GUSTOS E INTERESES.
					.col-md-4
						%h1 2 . ENCUENTRA
						= icon('tags')
						%p PERSONAL GIFTER TE OFRECERÁ SUGERENCIAS DE PRODUCTOS ACORDES A TU BUSQEUDA.

					.col-md-4
						%h1 3 . REGALA
						= icon('gift')
						%p REALIZA LA COMPRA EN LA TIENDA Y OBTEN EL REGALO PERFECTO.
			%a.toggle-about
				= icon('times')
		.gifter
			.center
				.row
					%p
						COMPLETÁ LAS SIGUIENTES OPCIONES PARA QUE PERSONAL GIFTER
						%br
						PUEDA SUGERIRTE LAS MEJORES SUGERENCIAS PARA REGALAR.
				.row
					= form_for @search do |f|
						.row.box
							.col-md-4
								.row
									= f.label '¿Cuál es la ocasión?'
								.row
									= f.collection_select :occasion_id, Occasion.all, :id, :name, {include_blank: false}
							.col-md-4
								.row
									= f.label '¿Quién es la persona?'
								.row
									= f.collection_select :relationship_id, Relationship.all, :id, :name, {include_blank: false}
							.col-md-2
								.row
									= f.label 'Edad'
								.row
									= f.collection_select :target_id, Target.all, :id, :name, {include_blank: false}
							.col-md-2
								.row
									= f.label 'Género'
								.row
								= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: false}
						.row.box
							.col-md-12
								.row
									= f.label '¿Qué gustos e intereses tiene?'
								.row	
									= f.collection_select :interest_ids, Interest.all, :id, :name, {include_blank: false}, {:multiple => true}
						.row.box
							.col-md-6.col-md-offset-3
								.row
									= f.submit "BUSCAR", :class => 'btn-white btn btn-lg'
			%a.toggle-gifter
				= icon('times')
		%nav.navbar.navbar-fixed-top
			.container
				.navbar-header
					%button.navbar-toggle.collapsed
						%span.sr-only
							Toogle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					= link_to(root_path, :class => 'navbar-brand') do
						= image_tag('logo.png')
				#navbar.collapse.navbar-collapse.pull-right
					%ul.nav.navbar-nav
						%li.active
							= link_to('Home', root_path)
						%li
							%a.toggle-about(href='#') ¿Cómo Funciona?
						%li
							%a Contacto
						%li
							- if current_user
								.dropdown
									%button.dropdown-toggle.btn.btn-default{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
										#{current_user.name}
										%span.caret
									%ul.dropdown-menu
										%li
											= link_to('Salir', signout_path)
										%li
											= link_to('Editar Perfil', edit_user_path(current_user))
							- else
								= link_to "Ingresar con Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-default"
						%li
							%button.btn.btn-white.toggle-gifter
								REGALAR
		= yield
		%section.footer
			.container
				.col-md-6
					%a Home
					%a.toggle-about About
					%a Como funciona
					%a Contacto
				.col-md-6
					%button.btn.btn-default.btn-lg.toggle-gifter.pull-right
						REGALAR
		:javascript
			$('.gifter select').select2({
				theme: "bootstrap"
			});
			$('.dropdown-toggle').dropdown();